body, html{
  width: 100%;
  height: 100%;
}

.color-nav{
  background-color: white;
  height: 100px;
  margin-bottom: 0;
}
#registrarse{
  width: auto;
  height:600px;
}
#registrarse img{
  width: 100%;
  height:100%;
  bottom: 0;
}
.fixed{
  position: fixed;
}
#telefono{
  width: auto;
  height: 600px;
}
.formulario{
  position: relative;
  left: 65%;
  top: -80%;
  width: 45%;
  height: 60%;
  background-color: rgb(247, 182, 23);
}
@media (max-width:760px){
  .formulario{
    left: 20%;
    width: 80%;
    height: 40%;
  }


}
